* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
  padding-left: 10%;
  padding-top: 4%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
  gap: 10px;
}

.container h1 img {
  width: 60px;
  height: 60px;
}

.container button img {
  width: 25px;
  margin-right: 8px;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
}

.container button:hover {
  background: linear-gradient(#b32aff, #6e1ab6);
}

.container button:active {
  transform: scale(0.98);
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}

.input-box img {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.input-box img:hover {
  filter: brightness(0) saturate(100%) invert(14%) sepia(92%) saturate(5200%)
    hue-rotate(0deg) brightness(90%) contrast(95%) opacity(0.6);
}
